.HeaderButton {

    &--container {
        width: 66px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box; // placer la bordure à l'intérieur
        border-bottom: 3px solid transparent;

        &-active {
            border-bottom: 3px solid white;
        }
    }

    &--icon {

        &-container {
            color: white;
            font-size: 28px;
        }
    }
}