.Header {

    &--container {
        display: flex;
        height: 56px;
        width: 100%;
        background-color: $secondary-green;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
    }
}