.ScanButton {

    &--container {

        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        background-color: $primary-green;
        box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2);
    }

    &--icon {
        color: white;
        font-size: 22px;
    }
}